@{
    ViewData["Title"] = "Главная";
}

@model List<Service>

<section class="general">
    <div class="container">
        <h1 class="title">Ведущая юридическая компания</h1>
        <p class="text">
            Сегодня "Ярославский Юрист" является одной из ведущих юридических
            компаний в Ярославле. В штате компании работают более 20
            квалифицированных юристов, имеющих опыт работы в различных областях
            права. Компания продолжает развиваться, внедряя новые технологии и
            методы работы для повышения эффективности и качества обслуживания
            клиентов.
        </p>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="wrapper">
            <h2 class="title">Наши услуги</h2>

            <div class="cards">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="img-wrapper">
                            <img class="img" src="@item.Img" alt="@item.Title" />
                        </div>
                        <h3 class="card-title">@item.Title</h3>
                    </div>
                }
            </div>

            <a class="link" href="@Url.Action("Index", "Services")">Записаться</a>
        </div>
    </div>
</section>

<section class="clients">
    <div class="container">
        <div class="wrapper">
            <h2 class="title">Клиентам</h2>
            <p class="text">
                Наша компания предлагает услуги различным категориям клиентов:
                Частные лица: Получите помощь в решении личных юридических вопросов, таких как развод, наследство, трудовые споры и иммиграционные вопросы.
                Предприниматели: Мы помогаем в создании и регистрации компании, вопросах налогообложения и защите прав в деловых спорах.
                Крупные корпорации: Наша команда предоставляет высококвалифицированную юридическую поддержку при ведении международного бизнеса и сложных юридических вопросах.
            </p>
        </div>
    </div>
</section>

<style>
    .general {
        margin-top: 50px;
        margin-bottom: 30px;
    }

        .general .title {
            font-size: 32px;
            text-align: center;
            font-weight: 600;
            font-family: 'KoPub Batang';
        }

        .general .text {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

    .services {
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .services .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        .services .title {
            font-size: 24px;
            text-align: center;
            font-weight: 600;
            font-family: 'KoPub Batang';
        }

        .services .cards {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            width: 100%;
        }

        .services .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            padding: 20px;
            border: #132D65 2px solid;
            border-radius: 20px;
            width: 310px;
        }

        .services .img-wrapper {
            width: 310px;
            height: 207px;
            flex-shrink: 0;
        }

        .services .img {
            width: 310px;
            height: 207px;
            object-fit: cover;
            border: #132D65 4px solid;
            border-radius: 20px;
        }

        .services .card-title {
            margin-top: 15px;
            font-size: 20px;
            text-align: center;
            font-weight: 600;
            width: 100%;
        }

        .services .link {
            font-size: 18px;
            font-weight: 600;
            border: #132D65 4px solid;
            border-radius: 20px;
            padding: 10px 20px;
            text-decoration: none;
            color: #132D65;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 48px;
            margin-top: 20px;
            min-width: 200px;
        }

            .services .link:hover {
                background-color: #132D65;
                color: #fff;
            }

    .clients {
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .clients .wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }

        .clients .title {
            font-size: 24px;
            text-align: center;
            font-weight: 600;
            font-family: 'KoPub Batang';
        }

        .clients .text {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 500;
            max-width: 800px;
            text-align: center;
        }

</style>